.footer {
    font-family: "Poppins", sans-serif;
    color: #5E6282;

    .footer-table {

        .footer-table-header,
        .footer-table-body {
            display: grid;
            grid-gap: 24px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .footer-table-header {
            align-items: center;
        }
    }

    .footer-table .th {
        //background-color: blue;
        height: 40px;
        padding-bottom: 10px;
        color: #14183E;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .jadoo-name {
        font-size: 2.2rem !important;
        line-height: 1;
    }

    ul {
        list-style: none;
    }

    .col-1 {
        p {
            font-size: 0.8rem;
        }
    }

    .col-2, .col-3, .col-4, .col-5 {
        li {
            cursor: pointer;
        }

        li:hover{
            text-decoration: underline;
        }
    }

    .copyright {
        color: #5E6282;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 60px;
    }   
    
    .socials {
        display: flex;
        gap: 5px;

        img {
            max-width: 50px;
            cursor: pointer;
        }
    }
}
  